/*=================================
LARGE SCREEN RESPONSIVE DESING
===================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

	.banner-area {
		padding-top: 110px;
		padding-bottom: 70px;
	}
	.banner-content h1 {
		font-size: 50px;
	}

	.plants-row {
		padding-top: 30px;
	}
	.single-plant-card {
		row-gap: 15px;
	}
}

/*=================================
TABLET SCREEN RESPONSIVE DESING
===================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 18px;
	}
	.container {
		max-width: 720px;
	}

	.banner-area {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	.banner-content h1 {
		font-size: 35px;
	}

	.plants-row {
		grid-template-columns: repeat(3, 1fr);
	}
	.plants-row {
		padding-top: 30px;
	}
	.single-plant-card {
		row-gap: 15px;
	}
}

/*=================================
SMALL SCREEN RESPONSIVE DESING
===================================*/
@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
	.plr {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-area {
		padding-top: 20px;
	}
	.logo-card a img {
		width: 63px;
	}
	.navbar ul li:first-child,
	.navbar ul li:nth-child(2),
	.navbar ul li:nth-child(3) {
		display: none;
	}

	.banner-area {
		padding-top: 28px;
		padding-bottom: 65px;
	}
	.banner-wrpper {
		flex-direction: column-reverse;
		gap: 28px;
	}
	.banner-content h1 {
		font-size: 24px;
	}

	.plants-row {
		grid-template-columns: repeat(2, 1fr);
	}
	.plants-row {
		padding-top: 20px;
		column-gap: 10px;
		row-gap: 15px;
	}
	.single-plant-card {
		row-gap: 15px;
	}
	.section-title h2 {
		font-size: 40px;
	}
	.section-title p {
		padding: 0 14.5px;
	}
	.plant-name-price h2,
	.plant-name-price h3 {
		font-size: 16px;
	}
	.btn-primary {
		padding: 15px 10px;
		font-size: 14px;
	}
}
