/*=================================
LARGE SCREEN RESPONSIVE DESING
===================================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
}

/*=================================
TABLET SCREEN RESPONSIVE DESING
===================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width: 720px;
	}
}

/*=================================
SMALL SCREEN RESPONSIVE DESING
===================================*/
@media screen and (max-width: 767px) {
	.plr {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-area {
		padding-top: 20px;
	}
	.logo-card a img {
		width: 63px;
	}
	.navbar ul li:first-child,
	.navbar ul li:nth-child(2),
	.navbar ul li:nth-child(3) {
		display: none;
	}
}
