/*=======================
GOOGLE FONTS LINK HERE
=========================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/*=======================
COMMON CSS HERE
=========================*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background: #f5f8ff;
	color: rgba(0, 0, 0, 0.5);
	font-size: 22px;
	font-weight: 400;
}

:root {
	--spanColor: #e95a08;
	--black: #030303;
	--white: #fff;
	--notoFont: "Noto Serif", serif;
}

.spanColor {
	color: #e95a08;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.btn-primary {
	padding: 26px 50px;
	background: #e95a08;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	width: 100%;
}

button {
	cursor: pointer;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

/*=======================
HEADER AREA CSS HERE
=========================*/
.header-area {
	padding-top: 30px;
}

.logo-card a img {
	width: 135px;
}

.navbar ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 48px;
}

.navbar ul li a {
	color: #8987a1;
	font-size: 16px;
	line-height: 150%;
	text-decoration: none;
	transition: color ease 0.2s;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar ul li a:hover {
	color: #252432;
}

.navbar ul #active a {
	color: #252432;
	font-weight: 700;
}

.navbar ul li:last-child a {
	color: var(--black);
}

/*=======================
BANNER AREA CSS HERE
=========================*/
.banner-area {
	padding-top: 221px;
	padding-bottom: 120px;
}

.banner-wrpper {
	align-items: end;
}

.banner-content,
.banner-img {
	flex: 1;
}

.banner-content h1 {
	color: var(--black);
	font-family: var(--notoFont);
	font-size: 65px;
	font-weight: 700;
	margin-bottom: 13px;
}

.banner-img img {
	width: 100%;
	display: block;
}

/*=======================
OUR PLANTS AREA CSS HERE
=========================*/
.section-title {
	text-align: center;
}

.section-title h2 {
	color: var(--black);
	font-family: var(--notoFont);
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 16px;
}

.section-title p {
	max-width: 888px;
	margin: auto;
}

.plants-row {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 30px;
}

.single-plant-card {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	text-align: center;
}

.single-plant-card img {
	width: 100%;
}

.plant-name-price h2 {
	color: #111;
	font-weight: 500;
	line-height: 150%;
	font-size: 22px;
}

.plant-name-price h3 {
	color: #111;
	font-weight: 700;
	line-height: 150%;
	font-size: 22px;
}
