/*=======================
GOOGLE FONTS LINK HERE
=========================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/*=======================
COMMON CSS HERE
=========================*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 22px;
	font-weight: 400;
}

:root {
	--spanColor: #e95a08;
	--black: #000;
	--white: #fff;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.btn-primary {
	padding: 26px 50px;
	background: #e95a08;
}
