/*=======================
GOOGLE FONTS LINK HERE
=========================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/*=======================
COMMON CSS HERE
=========================*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background: #f5f8ff;
	color: rgba(0, 0, 0, 0.5);
	font-size: 22px;
	font-weight: 400;
}

:root {
	--spanColor: #e95a08;
	--black: #030303;
	--white: #fff;
	--notoFont: "Noto Serif", serif;
}

.spanColor {
	color: #e95a08;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.btn-primary {
	padding: 26px 50px;
	background: #e95a08;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	width: 100%;
}

button {
	cursor: pointer;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

/*=======================
HEADER AREA CSS HERE
=========================*/
.header-area {
	padding-top: 30px;
}

.logo-card a img {
	width: 135px;
}

.navbar ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 48px;
}

.navbar ul li a {
	color: #8987a1;
	font-size: 16px;
	line-height: 150%;
	text-decoration: none;
	transition: color ease 0.2s;
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar ul li a:hover {
	color: #252432;
}

.navbar ul #active a {
	color: #252432;
	font-weight: 700;
}

.navbar ul li:last-child a {
	color: var(--black);
}

/*=======================
BANNER AREA CSS HERE
=========================*/
.banner-area {
	padding-top: 221px;
	padding-bottom: 120px;
}

.banner-wrpper {
	align-items: end;
}

.banner-content,
.banner-img {
	flex: 1;
}

.banner-content h1 {
	color: var(--black);
	font-family: var(--notoFont);
	font-size: 65px;
	font-weight: 700;
	margin-bottom: 13px;
}

.banner-img img {
	width: 100%;
	display: block;
}

/*=======================
OUR PLANTS AREA CSS HERE
=========================*/
.section-title {
	text-align: center;
}

.section-title h2 {
	color: var(--black);
	font-family: var(--notoFont);
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 16px;
}

.section-title p {
	max-width: 888px;
	margin: auto;
}

.plants-row {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 30px;
}

.single-plant-card {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	text-align: center;
}

.single-plant-card img {
	width: 100%;
}

.plant-name-price h2 {
	color: #111;
	font-weight: 500;
	line-height: 150%;
	font-size: 22px;
}

.plant-name-price h3 {
	color: #111;
	font-weight: 700;
	line-height: 150%;
	font-size: 22px;
}

/*=======================
PLANT LOVER AREA CSS HERE
=========================*/
.plant-lover-area {
	padding-top: 210px;
	padding-bottom: 135px;
}

.plant-lover-wrpper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 60px;
}

.plant-lover-img > img {
	width: 100%;
	display: block;
}

.plant-lover-img {
	position: relative;
}

.lover-badge {
	position: absolute;
	top: -127px;
	right: -93px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lover-badge img {
	animation: spin 4s linear infinite;
	transform-origin: center;
}

.plant-lover-description h2 {
	color: var(--black);
	font-family: var(--notoFont);
	font-size: 50px;
	font-weight: 700;
}

.plant-lover-description ul {
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-top: 20px;
}

/*=======================
LATEST DEALS AREA CSS HERE
=========================*/
.lates-deals-products {
	padding: 120px 0;
	display: grid;
	column-gap: 28px;
	row-gap: 25px;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 2fr;
}

.lates-deal-single-product img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 14px;
}

.lates-deal-single-product:nth-child(2) {
	grid-row: span 2;
}

.cntn-box h2 {
	color: var(--white);
	text-align: center;
	font-family: var(--notoFont);
	font-size: 20px;
	font-weight: 700;
}

.cntn-box a {
	color: var(--white);
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
}

.lates-deal-single-product {
	position: relative;
}

.cntn-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lates-deal-single-product:nth-child(2) .cntn-box h2 {
	font-size: 40px;
}

.lates-deal-single-product:nth-child(2) .cntn-box a {
	font-size: 28px;
}

/*=======================
JOIN BUNCH AREA CSS HERE
=========================*/
.join-bunch-area {
	padding-top: 200px;
	padding-bottom: 193px;
	background: url(images/join-bunch-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.join-bunch-wrpper {
	max-width: 830px;
	margin: auto;
}

.join-bunch-wrpper h2 {
	color: var(--white);
	text-align: center;
	font-family: var(--notoFont);
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 23px;
}

.join-bunch-wrpper form {
	display: flex;
}

.join-bunch-wrpper form input[type="email"] {
	padding: 8px 20px;
	background: var(--white);
	color: rgba(0, 0, 0, 0.5);
	border: none;
	outline: none;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
}

.join-bunch-wrpper form input[type="submit"] {
	color: var(--white);
	font-size: 16px;
	font-weight: 600;
	background: #e95a08;
	border: none;
	outline: none;
	padding: 18px 50px;
	cursor: pointer;
}

/*=======================
FOOTER AREA CSS HERE
=========================*/
.footer-area {
	padding: 50px 0;
}

.footer-wrpper {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
}

.footer-logo img {
	width: 135px;
	display: block;
	margin-bottom: 16px;
}

.footer-logo p {
	max-width: 359px;
}

.quick-links {
	display: flex;
	column-gap: 110px;
}

.quick-links ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.quick-links ul li a {
	color: #6b7280;
	font-size: 16px;
	line-height: 150%;
	text-decoration: none;
}

.social-links ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 24px;
}
